
// 通用
@font-color-success: #18A058;
@font-color-fail: #D03050;
@font-color-danger: rgb(238, 69, 46);

// 暗主题色
@background-color-dark: rgb(24,24,24);
@font-color-dark: #fff;
@primary-color-dark: #63e2b7;
@active-hover-color-dark: rgb(35,54,51) ;
@font-color-hidden-dark: #555;


// 亮主题色
@background-color-light: rgb(255,255,255);
@font-color-light: #333;
@primary-color-light: #13a058;
@active-hover-color-light: rgb(231,245,238);
@font-color-hidden-light: #ccc;




.custom-dark {
    background-color: @background-color-dark;
    --background-color: @background-color-dark;
    --color: @font-color-dark;
    --primary-color: @primary-color-dark;
    --active-hover-color: @active-hover-color-dark;
    --font-color-success: @font-color-success;
    --font-color-fail: @font-color-fail;
    --font-color-hidden: @font-color-hidden-dark;
    --font-color-danger: @font-color-danger;
}
.custom-light {
    background-color: @background-color-light;
    --background-color: @background-color-light;
    --color: @font-color-light;
    --primary-color: @primary-color-light;
    --active-hover-color: @active-hover-color-light;
    --font-color-success: @font-color-success;
    --font-color-fail: @font-color-fail;
    --font-color-hidden: @font-color-hidden-light;
    --font-color-danger: @font-color-danger;

}